.table-section {
  margin-top: 30px;
  width: 90%;
}

.borderless th {
  border: none !important;
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: 700;
}
.table-box {
  overflow: scroll !important;
  height: 68vh;
}
.table-box::-webkit-scrollbar {
  width: 5px;
  height: 30%;
}
.table-body td {
  font-size: 1.5rem;
}

.dropdown-table-success {
  color: #0acf83 !important;
  font-size: 1.5rem;
}
.dropdown-table-danger {
  color: #ff0000 !important;
  font-size: 1.5rem;
}
.dropdown-menu-table {
  width: 0px !important;
}
