.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../img/Vector.svg");
  background-position: right;
  background-repeat: no-repeat;
  height: 100vh;
  padding-left: 5rem;
}
.icon {
  margin: 4rem 0 3rem 0;
}
.icon img {
  width: 36%;
}
.description {
  width: 40%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 33px;
  margin-bottom: 4rem;
}

.btn-home button {
  width: 14%;
  margin-right: 2rem;
  height: 7vh;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

.modal-title {
  padding: 41px 35px 20px 45px !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
}
.input-box {
  padding: 0 33px;
}

.input-email,
.input-password,
.input-fullname {
  margin-bottom: 20px;
}

.input-email input,
.input-password input,
.input-fullname input {
  width: 400px;
  height: 7vh;
  border-radius: 5px;
  outline: none;
  border: 2px solid #5e5e5e40;
  background-color: #b4b4b440;
  padding-left: 5px;
}

.modal-button {
  margin: 11px 0;
  width: 400px;
  height: 7vh;
  background-color: #d60000 !important;
  border: none !important;
  font-weight: 700 !important;
  font-size: 1.2rem !important;
}

.already-account {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.already-account a {
  font-weight: 700;
  color: black;
  text-decoration: none !important;
}
