.padding-container {
  padding: 0 50px;
}

.popup-title {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1.5rem;
}

.popup-title-success {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #29bd11;
  font-size: 1.5rem;
  padding: 80px;
}
